/* index.css */
@import "tailwindcss";

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Outfit', ui-sans-serif, system-ui;
  --color-primary: #f99d1b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    scroll-behavior: smooth;
  }
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px; /* This sets the width */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700/50 rounded-full; /* Subtle dark color */
    border: 2px solid transparent; /* Creates "padding" around the thumb */
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600; /* Brightens slightly on hover */
  }

  /* Firefox */
  * {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: theme('colors.zinc.700') transparent;
    scroll-behavior: smooth;
  }
}

@layer components {
  
  img, video {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  
  .tooltip { 
    @apply absolute text-xs whitespace-nowrap bg-stone-900 text-white py-1 px-2 rounded-lg transition-transform duration-100 origin-top-left scale-0 group-hover:scale-100 max-sm:right-9 top-full max-sm:-translate-y-1/2 max-sm:origin-right
  }
 
  .section {
    @apply pt-20 w-full items-center flex flex-col px-5 md:px-14 lg:px-24 xl:px-30
  }
  
  .title {
    @apply text-4xl sm:text-5xl xl:text-6xl font-bold text-center text-stone-700
  }
  
  .subtitle {
    @apply max-w-3xl text-lg max-sm:text-base text-center mt-3 text-stone-600
  }
  .text-invert {
    @apply text-stone-100 border-stone-300;
  }
  
  .low-contrast {
    @apply text-stone-500
  }
  
  .md-contrast {
    @apply text-stone-700
  }
  
  button {
    @apply cursor-pointer hover:scale-[1.03] transition-transform duration-200 rounded-full
  }
  
  .label {
    @apply text-stone-700
  }

  .rotate-image {
    animation: rotate 100s linear;
  }
 .scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
  display: none;
}
  /* for the carousel animation  */
  .sider-container {
    overflow: hidden;
  }
  .slider {
    animation: carouselAnimation 35s linear infinite;
  }
 @media (hover:hover) {
    .slider-container:hover .slider{
      animation-play-state: paused;
    }
 }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}